<%= form_for [entry.book, entry], :id => "entry-form", :remote => true do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    draft:<%= f.radio_button :public_flag, "0" %>
    public:<%= f.radio_button :public_flag, "1" %>
    future:<%= f.radio_button :public_flag, "2" %>
  </div>
  <div class="field">
    <%= f.label :point %><br />
    <%= f.number_field :point %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
