<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Body:</b>
  <%= @entry.body %>
</p>

<p>
  <b>Public flag:</b>
  <%= @entry.public_flag %>
</p>

<p>
  <b>Point:</b>
  <%= @entry.point %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
