<div data-role="header" data-theme="a" data-position="fixed">
  <h1>コレクル!</h1>
</div>

<div data-role="content" >
  <div id="item_bg">
    <p class="item_image"><%= image_tag(@item.image ,:width =>"80%") %></p>
    <h2><%= link_to "#{@item.title}", @item.url, "target" => "_blank" %></h2>
  </div>
  <%= link_to "kurukamo", {:controller => "service", :action => "like", :count => @count,:before_item => @item, :program => params[:program],:program2=>params[:program2],:program3=>params[:program3]}, "data-icon" => "star", "data-role" => "button", "data-inline" => "pop" %>
  <%= link_to "konaikamo", {:controller => "service", :action => "like", :count => @count,:program => params[:program],:program2=>params[:program2],:program3=>params[:program3]}, "data-transition" => "slide", "data-icon" => "arrow-r", "data-role" => "button", "data-inline" => "true" %>
  <br>
  <hr>
  <p>
  <b><%= @item.created_at.month.to_s + "月"+ @item.created_at.day.to_s + "日放送\""+@item.program + "\"の「"+ @item.corner + "」コーナーで紹介。"+ @item.description %></b><br>
  </p>
  <%= label_tag "comment" %>
  <%= text_area_tag "comment" %>
  <%= label_tag "twitter" %>
  </br>
</div>

