<header>
<h1>blog</h1>
</header>
<% if current_user %>
  <%= link_to "Sign Out",  signout_path %>

  <section>
  <%= render @entry %>
  </section>
<% else %>
  <%= link_to "Sign in with Twitter",  "/auth/twitter" %>
<% end %>

<section class="entry" id="entry_list">
<% @entries.each do |entry| %>
  <article>
  <h2>title:<%= entry.title %></h2>
  <p><%= entry.body %><p>
  <date><%= entry.created_at.strftime("%Y/%m/%d") %></date>
  <p><%= link_to 'syousai', :controller=>"blog", :action=>"show", :id=>@user.id, :entry_id=>entry.id %></p>
  </article>
<% end %>
</section>
<nav>
<%= auth_tag do %>
  "test"
<% end %>
</nav>
