<!DOCTYPE html>
<html>
  <head>
    <title>Simple</title><meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %><meta name="apple-mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %>
    <script type="text/javascript"> $.mobile.ajaxEnabled = false;
    </script>
  </head>
</head>
<body>
    <div data-role="page" data-theme="z" id=<%= params[:action]%> data-add-back-btn="true">
      <div data-role="header" data-theme="z" data-position="">
        <h1>cinematch</h1>
        <div class="setting">
          <% if current_user %>
            <%= link_to (image_tag("images/setting.png"),  signout_path) %>
          <% else %>
            <%= link_to (image_tag("images/setting.png"),  "/auth/twitter",{:rel => "external"}) %>
          <% end %>
        </div>
      </div>
      <div data-role="content" >
        <%= yield %>
      </div>
      <div data-role="footer" data-position="fixed" data-theme="z">
        <div data-role="navbar">
          <ul>
            <li>
            <%= link_to (image_tag("images/home.png" ), "/service/match") %>
            </li>
            <li>
            <%= link_to (image_tag("images/star.png" ), "/service/like") %>
            </li>
            <li>
            <%= link_to (image_tag("images/talk.png" ), "/service/talk") %>
            </li>
            <li>
            <%= link_to (image_tag("images/filter.png" ), "/service/filter") %>
            </li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>
